.app {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: grey;*/
}

.app-intro {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.app-intro.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}
.processing-bg {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
.processing-intro {
  width: 50vw;
  height: 50vh;
}

.app-main {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}
.app-main.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear;
}

.app-logo.intro {
  width: 600px;
  max-width: 90vw;
}

.app-logo.main {
  height: 150px;
}
a.logo-link {
  height: 100%;
}

.button-container {
  /*width: 350px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 100%;
  padding-left: 20px;
}

.view-button-container {
  position: relative;
  /*display: inline-block;*/
}
a.view-link {
  text-decoration: none;
  color: white;
  font-size: large;
  margin: 5px;
}
a.view-link:visited {
  color: white;
}
.view-button {
  display: inline-block;
  font-size: x-large;
}
.active-button {
  /*background-color: #4286f4;*/
  text-decoration: underline;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(40,40,130);
}
.dropdown.active {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.dropdown a.view-link {
  height: 100%;
  margin: 0;
  border: 1px solid black;
  display: inline-block;
  background-color: rgb(100,100,200);
  width: 100%;
}
.dropdown .view-button {
  padding: 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.app-header {
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100vh - 150px - 20px - 30px);
  overflow-y: scroll;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.remove-background {
  background-color: transparent;
}

.about-container {
  padding: 20px;
  width: calc(100% - 40px);
}
.about-container-spec {

}

.organizer-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.organizer-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.organizer-photo {
  width: 120px;
  align-self: flex-start;
}
.organizer-description {
  margin-left: 20px;
  color: rgb(235,235,235);
}
.organizer-name {
  font-weight: bolder;
  color: white;
  /*font-style: italic;*/
  font-size: 1.05em;
}

.partner-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.partner-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  align-items: center;
}
.partner-logo {
  width: 120px;
  align-self: flex-start;
}
.partner-description {
  margin-left: 20px;
  color: rgb(235,235,235);
}
.partner-name {
  font-weight: bolder;
  color: white;
  /*font-style: italic;*/
  font-size: 1.05em;
}

.current-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.current-child {
  padding: 40px;
  font-size: large;
  align-self: center;
  position: absolute;
  top: 0px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - (((100vw - 820px))));
}

.panels-workshops-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /*display: flex;*/
  /*flex-direction: column;*/
}
.panel-workshop-child {

}
.panel-workshop-header {
  text-decoration: underline;
}

.participant-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.processing-participants {
  align-self: center;
  width: calc(100% - 30px);
  margin: 15px;
}
.participant-spec {
  align-self: center;
  margin: 10px;
}

.contact-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.email-status-container {
  position: absolute;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s linear, z-index 0.3s;
  z-index: -1;
}
.email-status-container.success {
  background-color: green;
}
.email-status-container.fail {
  background-color: red;
}
.email-status-container.active {
  z-index: 1000000000000000000000000000000000;
  opacity: 0.6;
}
.email-status-message {
  font-size: xx-large;
  opacity: 1;
}
.email-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-form :nth-child(n) {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-input {
  width: calc(100% - 10px);
}
.form-text {
  width: calc(100% - 10px);
  height: 25vh;
  resize: none;
}
.form-button {
}
.volunteer-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  overflow-x: hidden;
}
.home-poster-container {
  text-align: center;
}
.home-poster {
  width: 100%;
  max-height: 100%;
  opacity: 0.2;
  transition: opacity 1s linear;
}
.home-poster:hover {
  opacity: 0.6;
}

.panel-spec {
  border: 2px white solid;
  margin: 2%;
  width: calc(50% - 4px - 4% - 10px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel-spec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.panel-child {
  margin: 10px;
}
.panel-description > p {
  margin-bottom: 0;
}
.panel-spec > h2 {
  margin-top: 0px;
}
.workshop-spec > h2 {
  margin-top: 0px;
}

.workshop-spec {
  border: 2px white solid;
  margin: 2%;
  width: calc(50% - 4px - 4% - 10px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.workshop-spec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.workshop-child {
  margin: 10px;
}

@media (max-width: 685px), orientation: landscape {
  .app-logo.main {
    height: 80px;
  }
  .app-header {
    height: 80px;
  }
  .content-container {
    height: calc(100vh - 80px - 20px - 30px);
  }
  .view-button {
    font-size: medium;
  }
  .organizer-photo {
    width: 100px;
  }
  .organizer-spec {
    margin: 10px;
  }
  .partner-spec {
    margin: 10px;
    align-items: flex-start;
  }
  .partner-logo {
    width: 100px;
  }
  .current-child {
    padding: 20px;
  }
  .panel-spec {
    width: calc(100% - 4px - 4% - 10px);
  }
  .participant-container {
    font-size: small;
  }
  .workshop-spec {
    width: calc(100% - 4px - 4% - 10px);
  }
}

@media (min-width: 820px) {
  .content-container > .about-container-spec, .content-container > .home-container, .content-container > .current-container, .content-container > .organizer-container, .content-container > .partner-container, .content-container > .participant-container, .content-container > .panels-workshops-container  {
    padding-left: calc((100vw - 820px) / 2);
    padding-right: calc((100vw - 820px) / 2);
  }
}
