.app {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: grey;*/
}

.app-intro {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-intro.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}
.processing-bg {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.app-main {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}
.app-main.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear;
}

.app-logo.intro {
  width: 600px;
  max-width: 90vw;
}

.app-logo.main {
  height: 150px;
}
a.logo-link {
  height: 100%;
}

.button-container {
  /*width: 350px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 100%;
  padding-left: 20px;
}

.view-button-container {
  position: relative;
  /*display: inline-block;*/
}
a.view-link {
  text-decoration: none;
  color: white;
  font-size: large;
  margin: 5px;
}
a.view-link:visited {
  color: white;
}
.view-button {
  display: inline-block;
}
.active-button {
  /*background-color: #4286f4;*/
  text-decoration: underline;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(40,40,130);
}
.dropdown.active {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.dropdown a.view-link {
  height: 100%;
  margin: 0;
  border: 1px solid black;
  display: inline-block;
  background-color: rgb(100,100,200);
  width: 100%;
}
.dropdown .view-button {
  padding: 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.app-header {
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100vh - 150px - 20px - 30px);
  overflow-y: scroll;
  color: white;
  text-align: left;
  /*background-color: lightgrey;*/
}

.artist-photo {
  height: 200px;
}

@media (max-width: 450px), orientation: landscape {
  .app-logo.main {
    height: 80px;
  }
  .app-header {
    height: 80px;
  }
  .content-container {
    height: calc(100vh - 80px - 20px - 30px);
  }
}
